<p>animi works!</p>
<h3>Fade-In and Fade-Out animation
    <div class="container">
      <div class = "row">
        <div class="col-md-4">
          <button class="btn btn-success" (click)="addElement()">Add Element</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-danger" (click)="removeElement()">Remove Element</button>
        </div>
      </div>
      <div class="row">
        <div style="width:200px; margin-left: 190px">
        <ul>
          <li *ngFor="let list of listItem" [@fadeInOut]>
            {{list}}
          </li>
        </ul>
      </div>
      </div>
    </div>
    </h3>
    <h1> change size</h1>
    <h3>Change Size animation</h3>
    <div class="container">
      <div class = "row">
        <div class="col-md-4">
          <button (click)="changeState()" class="btn btn-primary">Change Size</button>
        </div>
        <div class="col-md-8">
          <div [@changeDivDimension]=currentState></div>
        </div>
      </div>
    </div>
    <h1  [@fadeInOut]> This is for new fade in </h1>