<div id="d1">
<br>
  <p>
      <label for="firstname">Enter goal</label>
      <input type="text" name="goal" [(ngModel)]="goal">
    </p>
    <div class="text-center">
        <button class="btn btn-primary mr-1" (click)=addElement() >Add goal</button>
        <button class="btn btn-secondary" (click)=removeElement()>Remove last</button>
   
      </div> 
      <ul  class="list-group" style="align-items: center ;margin-top: 10px;">
        <li class="list-group-item list-group-item-danger" style="margin-top: 10px;width: 200px; height: 40px; padding: 10px 15px;text-align:center ;" *ngFor="let list of listItem" [@fadeInOut] >
          {{list}}
        </li>
        </ul>
      </div>