
  <div id="d1">
<form #contactForm1="ngForm" (ngSubmit)="onSubmit(contactForm1)">
 <br>
    <p>
      <label for="firstname">Enter username</label>
      <input type="text" id="username" name="username"  [(ngModel)]="username">
    </p>
   
    <p>
      <label for="lastname">Enter password</label>
      <input type="password" id="pwd" name="pwd"  ngModel>
    </p>
   
   
    <p>
      <button type="submit">Submit</button>
    </p>
   
  </form></div>