<p>gallery works!</p>
<div id="slider">
  <figure>
  <img src="/assets/images/taj.jpg"  height="400px" width="100%" alt>
  <img src="/assets/images/igate.jpg"  height="400px" width="100%" alt>
  <img src="/assets/images/wall.jpg"  height="400px" width="100%" alt>
  <img src="/assets/images/wall1.jpg"  height="400px" width="100%"  alt>
  
  </figure>
  </div>
