<div id="d1"><img src="/favicon.ico" height="30px" width="30px"></div>
<h1> Angular Forms</h1>
 
<ul><li><a routerLink =""> Home </a></li> 
  <li><a routerLink ="gallery"> Gallery </a></li>
  <li><a routerLink ="animi"> Animation </a></li>
  <li><a routerLink ="wish"> Wishlist </a></li>
  <div id="d2"><li><a routerLink ="regf">Sign up</a></li>
  <li><a routerLink ="login">Sign in</a></li></div>
</ul>
<p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript.
  Angular is written in TypeScript.
   It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.

 The architecture of an Angular application relies on certain fundamental concepts.
  The basic building blocks of the Angular framework are Angular components that are organized into NgModules. NgModules collect related code into functional sets; an Angular app is defined by a set of NgModules. An app always has at least a root module that enables bootstrapping, and typically has many more feature modules.
 
</p> 
<router-outlet></router-outlet>