 table { 
            border-collapse: collapse;
            border:1px solid black; 
            width: 50%; 
        } 
          table  th { 
             color:yellow;
            text-align: left; 
            padding: 8px; 
        }  
       table  td { 
            text-align: left; 
            padding: 8px; 
        } 
          
        table tr:nth-child(odd) { 
            background-color: Darkblue; 
        } 
  
        table tr:nth-child(even) { 
            background-color: Lightblue; 
        } 
        #d2{
            background-color: Lightblue;
       }