<table border = 1 style = "background-color:pink ; width :500px
;border-color:red;border-collapse:collapse" >
<th colspan ="2" > Name    </th><th rowspan = "2"> City </th>
<th colspan = "2"> Phone No   </th>
<tr>
<th> first name </th><th> lastname</th>
<th> Home </th> <th> Office</th>
<tr>
<td> avc </td><td>xyx</td><td> Paris</td><td>12345</td>
<td>545654</td> 
<tr>
<td> sada </td><td> London</td>
<tr>
<td> asdwa</td><td> New York</td>
</table>